body {
  background-color: #222429;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 2%;
  padding-left: 12%;
  padding-right: 12%;
}

#root {
  width: 100%;
}