@use "./variables.scss" as *;

body.dark {
  --background-color: #{$dark-background-color};
  --text-color: #{$dark-text-color};
  --link-color: #{$dark-link-color};
  --border-color: #{$dark-border-color};
  transition: background 1.2s;
}

body {
  --background-color: #{$light-background-color};
  --text-color: #{$light-text-color};
  --link-color: #{$light-link-color};
  --border-color: #{$light-border-color};
  transition: background 1.2s;
}

body {
  margin: 0;
  display: flex;
  background-color: var(--background-color);
  flex-direction: column;
  align-items: center;
  font-size: $regular-font-size;
  color: var(--text-color);
  padding-top: $body-top-padding;
  padding-left: $body-side-padding;
  padding-right: $body-side-padding;
  min-height: $body-height;
  font-family: $font-texts;
}

a {
  color: var(--link-color);
}

#root {
  width: 100%;
  min-height: $body-height;
  display: flex;
  flex-direction: column;
}

.content {
  margin-top: 8%;
  margin-left: 10%;
  margin-right: 10%;
}

.italic {
  font-style: italic;
}

.centered {
  text-align: center;
}
