$body-side-padding: 12%;
$body-width: (100% - (2 * $body-side-padding));
$body-top-padding: 30px;
$body-height: calc(100vh - $body-top-padding);

// dark-mode
$dark-background-color: #222429;
$dark-text-color: #e6e6e6;
$dark-link-color: #61dafb;
$dark-border-color: lightgrey;
$dark-brightness: 70%;

// light-mode
$light-background-color: #ffffff;
$light-text-color: #333333;
$light-link-color: #2c7e8f;
$light-border-color: #b3b3b3;
$light-brightness: 100%;

// font size for Mulish
$large-font-size: 1.6em;
$regular-font-size: 1.5em;
$small-font-size: 0.8em;
$smaller-font-size: 0.5em;
$font-texts: "Mulish", sans-serif;

// font size for Julius
$huge-titles-font-size: 1.5em;
$large-titles-font-size: 1.2em;
$regular-titles-font-size: 1em;
$small-titles-font-size: 0.8em;
$font-titles: "Julius Sans One", sans-serif;
